// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//My style

.item-center {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.preview {
    max-width: 150px;
    width: auto;
    max-height: 150px;
    height: auto;
    margin-bottom: 5px;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
